:root {
  --color-primary: #FF5555;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: .75rem;
  --border-radius-1: .4rem;
  --border-radius-2: .8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

*,*:after,*:before { 
  margin: 0;
  padding: 0;
  outline: 0;
  apperance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: .88rem;
  background: var(--color-background);
  user-select: none;
  overflow: hidden;
  color: var(--color-dark);
}

#dashboard {
  display: grid;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
}

aside {
  height: 100vh;
}

aside .sidebar {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
}

aside .sidebar a {
  cursor: pointer;
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all .3s ease;
}

aside .sidebar a i {
  font-size: 1.6rem;
  transition: all .3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover i {
  margin-left: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

main {
  margin-top: 1.4rem;
  margin-right: 2rem;
}

main .date {
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  padding: .5rem 1.6rem;
}

main .date input[type='date'] {
  background: transparent;
  color: var(--color-dark);
}

main #insights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

main #insights .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
}

main #insights .card i {
  background: var(--color-primary);
  padding: .5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

main #insights .card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main #insights h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 1rem 0 .6rem;
  font-size: 1rem;
}

main #insights small {
  color: var(--color-info-dark);
  margin-top: 1.6rem;
  font-size: .85rem;
  display: block;
}

#newAccounts {
  margin-top: 2.5em;
}

#newAccounts h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#newAccounts table {
  background: #fff;
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: 20px;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}

#newAccounts table thead {
  text-transform: capitalize;
  font-size: 1.1em;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

#newAccounts a {
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

.input-field i:not(:first-child) {
  visibility: hidden;
  position: absolute;
  right: 15px;
  font-size: 1.25rem;
}

.input-field i#eye {
  cursor: pointer;
  visibility: visible;
  right: 40px;
}

#loginPage {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

#loginPage .forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#loginPage .user-admin {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

#loginPage form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#loginPage form.admin-form {
  opacity: 0;
  z-index: 1;
}

#loginPage form.user-form {
  z-index: 2;
}

#loginPage .title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 20px;
}

#loginPage .input-field {
  max-width: 380px;
  width: 100%;
  background: #f0f0f0;
  margin: 10px 0;
  height: 45px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
}

#loginPage .input-field i {
  text-align: center;
  line-height: 45px;
  color: #acacac;
  font-size: 1.1rem;
}

#loginPage .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

#loginPage .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

#loginPage .btn {
  width: 150px;
  background: var(--color-primary);
  outline: none;
  height: 49px;
  border-radius: 15px;
  color: #fff;
  font-weight: 200;
  font-size: 1.2em;
  margin: 25px 0;
  cursor: pointer;
  transition: 0.5s;
}

#loginPage form .btn:hover {
  background: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
#loginPage .panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#loginPage .panel .btn:hover {
  background: white;
  color: var(--color-primary);
}
#loginPage:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background: var(--color-primary);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2.5rem;
}

.panel p {
  margin: 1rem 0;
  color: #fff;
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 200;
  font-size: 1.1em;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

#loginPage.admin-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

#loginPage.admin-mode .left-panel .image,
#loginPage.admin-mode .left-panel .content {
  transform: translateX(-800px);
}

#loginPage.admin-mode .user-admin {
  left: 25%;
}

#loginPage.admin-mode form.admin-form {
  opacity: 1;
  z-index: 2;
}

#loginPage.admin-mode form.user-form {
  opacity: 0;
  z-index: 1;
}

#loginPage.admin-mode .right-panel .image,
#loginPage.admin-mode .right-panel .content {
  transform: translateX(0%);
}

#loginPage.admin-mode .left-panel {
  pointer-events: none;
}

#loginPage.admin-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  #loginPage {
    min-height: 800px;
    height: 100vh;
  }
  .user-admin {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .user-admin, #loginPage.admin-mode .user-admin {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  #loginPage:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  #loginPage.admin-mode .left-panel .image,
  #loginPage.admin-mode .left-panel .content {
    transform: translateY(-300px);
  }

  #loginPage.admin-mode .right-panel .image,
  #loginPage.admin-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  #loginPage.admin-mode .user-admin {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  #loginPage{
    padding: 1.5rem;
  }

  #loginPage:before {
    bottom: 72%;
    left: 50%;
  }

  #loginPage.admin-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

#transactionMenu #container {
  margin-top: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#transactionMenu #container > button {
  cursor: pointer;
  font-size: 24px;
  text-transform: capitalize;
  width: 150px;
  height: 150px;
  padding: 25px;
  margin: 0 30px;
  border: 3px solid var(--color-primary);
  border-radius: 10px;
}

#transactionMenu .modal button {
  cursor: pointer;
  background: var(--color-primary);
  color: #FFF;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 10px;
}

#accountsMenu table {
  font-size: 1.15em;
}

#accountsMenu td:before {
  content: "copied";
  position: absolute;
  opacity: 0;
  transform: translateY(0) scale(0);
}

#accountsMenu td.copied:before {
  animation: copied 0.6s linear forwards;
}

#accountsMenu table {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  display: table;
}

#accountsMenu #pagination {
  position: fixed;
  bottom: 20px;
  left: 50%;
}

#accountsMenu #pagination button {
  width: 30px;
  height: 30px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
  border-radius: 10px;
  margin: 3px;
  transition: .4s;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#accountsMenu td, #accountsMenu th {
  text-align: center;
}

#accountsMenu th {
  padding: 1%;
  cursor: pointer;
  text-transform: capitalize;
}

#accountsMenu td:first-child { color: #FB667A; }

#accountsMenu tbody tr:hover {
  box-shadow: 0 6px 6px -6px #0E1119;
}

#accountsMenu td:hover {
  cursor: pointer;
  color: #403E10;
  font-weight: bold;
}

@keyframes copied {
  10% {
    opacity: 1;
  }
  60% {
    transform: translateY(-16px) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translate(2px, -32px) scale(0.5);
    opacity: 0;
  }
}

#accountName {
  margin-top: 33px;
  margin-left: 25px;
}

.search{
  padding: 5px;
  margin: 25px 5px;
  border-radius: 5px;
  width: 300px;
  outline: none;
}

#accountsMenu.th-sort-asc::after {
  margin-left: 5px;
  content: "\25b4"
}

#accountsMenu.th-sort-desc::after {
  margin-left: 5px;
  content: "\25be";
}

@media (max-width: 800px) {
  #accountsMenu table td:nth-child(4),
  #accountsMenu table th:nth-child(4) { display: none; }
}

#historyMenu #buttons {
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
}

#historyMenu #cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 10px 80px;
}

#historyMenu #cards, #historyMenu .card{
  padding: 8px;
}

#historyMenu .card {
  width: 275px;
  margin-bottom: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

#historyMenu i {
  color: var(--color-primary);
  font-size: 1.75em;
  margin: auto 15px;
}

#historyMenu h3 {
  text-transform: capitalize;
  font-size: 1.25em;
}

.show { display: block; }

#historyMenu .btn {
  height: 40px;
  width: 100px;
  border: none;
  outline: none;
  color: var(--color-primary);
  background: none;
  cursor: pointer;
}

#historyMenu .btn.active {
  border: 2px solid var(--color-primary);
  border-radius: 20px;
}

#newAccountMenu form {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

#newAccountMenu .input-field {
  max-width: 380px;
  width: 100%;
  background: #FFF;
  margin: 20px 0;
  height: 45px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

#newAccountMenu .input-field i {
  text-align: center;
  line-height: 45px;
  color: #acacac;
  font-size: 1.1rem;
}

#newAccountMenu .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

#newAccountMenu .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

#newAccountMenu form input[type="submit"] {
  color: white;
  padding: 15px 20px;
  border-radius: 50px;
  background: var(--color-primary);
  cursor: pointer;
}
#newAccountMenu .input-field small {
  font-size: 1em;
  visibility: hidden;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

#newAccountMenu .input-field.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

#newAccountMenu .input-field.error { outline: 2px solid #E74C3C; }
#newAccountMenu .input-field.warning { outline: 2px solid orange; }
#newAccountMenu .input-field.success { outline: 2px solid #2ECC71; }

#newAccountMenu .input-field.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

#newAccountMenu .input-field.error small {
  color: #e74c3c;
  visibility: visible;
}

#newAccountMenu .input-field.warning small {
  color: orange; 
  visibility: visible;
}



#remindersMenu #container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#remindersMenu button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
#remindersMenu #header {
  width: 100%;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}
#remindersMenu #header button {
  background:#92a1d1;
}
#remindersMenu #weekdays {
  display: flex;
  color: #247BA0;
}
#remindersMenu #weekdays h3{
  text-align: center;
  width: 150px;
  padding: 10px;
}
#remindersMenu #calendar {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  justify-items: center;
}
#remindersMenu .day {
  width: 125px;
  padding: 10px;
  height: 80px;
  cursor: pointer;
  box-sizing: border-box;
  background: white;
  margin: 5px;
  box-shadow: 0 0 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#remindersMenu .day:hover {
  background: #e8faed;
}

#remindersMenu .day + #currentDay {
  background-color:#e8f4fa;
}
#remindersMenu .event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
#remindersMenu .padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

main .modal {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  padding: 25px;
  background: whitesmoke;
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  width: 450px;
  top: 150px;
  left: calc(50% - 210px);
  position: absolute;
  font-family: sans-serif;
}
main .modal.show { display: flex; }

main .modal h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 25px;
}
main .modal input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0 0 3px gray;
}
main .modal #receiverId { display: none; }
main .modal #receiverId.show { display: block; }
#remindersMenu #eventTitleInput.error {
  border: 2px solid red;
}
main .modal #cancelButton, main .modal #deleteButton {
  background: #d36c6c;
}
#remindersMenu #saveButton, #scheduleMenu #closeButton {
  background: #92a1d1;
}
#remindersMenu #eventText {
  font-size: 14px;
}
main #modalBg {
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
main #modalBg.show { display: block; }

.transaction-container .topbar {
  margin-top: 50px;
  padding: 20px;
  min-width: 300px;
}

.transaction-container .text {
  font-size: 1rem;
  margin-bottom: 2px;
}

.transaction-container #balance {
  font-size: 2rem;
}

.transaction-container .form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-container .buttons {
  display: flex;
  justify-content: center;
}

.transaction-container .form-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.transaction-container .btn {
  text-transform: capitalize;
  height: 40px;
  margin: auto 50px;
  background: var(--color-primary);
  color: #fff;
  font-size: 1.2rem;
}

.transaction-container .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  margin: 5px;
}

.transaction-container .right_side {
  display: flex;
  gap: 5px;
}

.transaction-container .right_side button {
  color: #fff;
  cursor: pointer;
}

.transaction-container #cancel {
  background: #E5415E
}

.transaction-container #cancel:hover {
  background: red;
}

#chartMenu {
  height: 500px;
}

#budgetApp {
  max-width: 1160px;
  margin: 0 auto;
  padding: 56px 0;
}
@media (max-width: 1192px) {
  #budgetApp {
    margin: 0 16px;
  }
}
#budgetApp.modal-active:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
#budgetApp h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}
#budgetApp #title {
  font-size: 36px;
}
#budgetApp p {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #BDC2C4;
}
#budgetApp a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--color-primary);
  transition: all 275ms;
}
#budgetApp input {
  display: block;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 12px;
  border: 1px solid #4F5E65;
  border-radius: 4px;
  font-size: 14px;
  background: transparent;
  color: #FFFFFF;
  outline: none;
  transition: all 275ms;
}
#budgetApp input::placeholder {
  color: #BDC2C4;
}
#budgetApp button {
  min-width: 70px;
  height: 40px;
  padding: 0 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: var(--color-primary);
  color: #FFF;
  cursor: pointer;
  transition: all 275ms;
}
#budgetApp button:hover {
  background: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
#budgetApp table {
  width: 100%;
  border-collapse: collapse;
}
#budgetApp th {
  padding: 12px 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #4F5E65;
}
#budgetApp th:last-child {
  text-align: right;
}
#budgetApp td {
  padding: 10px;
  font-size: 14px;
  color: black;
}
#budgetApp td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#budgetApp td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: right;
}
#budgetApp hr {
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: 1px solid #2B383F;
}
#budgetApp .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
#budgetApp .container #title {
  grid-column: span 3;
  margin-bottom: 8px;
}
#budgetApp form {
  border-radius: 8px;
  padding: 24px;
}
#budgetApp form h2 {
  margin-bottom: 24px;
}
#budgetApp form input,
#budgetApp form button {
  width: 100%;
}
#budgetApp form input {
  color: black;
}
#budgetApp #budgetForm {
  margin-bottom: 40px;
}
#budgetApp .budget__details {
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  height: 150px;
}
#budgetApp .budget__item {
  border-right: 1px solid #2B383F;
}
#budgetApp .budget__item:nth-child(3) {
  margin-right: 0;
  border-right: none;
}
#budgetApp .budget__item-amount {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 500;
}
#budgetApp .budget__item-label {
  font-size: 12px;
  color: #4F5E65;
}
#budgetApp #budgetExpenses {
  grid-column: span 3;
}
#budgetApp #budgetExpenses th:nth-child(2),
#budgetApp #budgetExpenses td:nth-child(2) {
  width: 80px;
  text-align: right;
}
#budgetApp #budgetExpenses th:nth-child(3),
#budgetApp #budgetExpenses td:nth-child(3),
#budgetApp #budgetExpenses th:last-child,
#budgetApp #budgetExpenses td:last-child {
  width: 1%;
  text-align: center;
}
#budgetApp #budgetExpenses th:nth-child(3),
#budgetApp #budgetExpenses td:nth-child(3) {
  text-align: right;
}
#budgetApp #budgetExpenses td i {
  cursor: pointer;
}
#budgetApp .modal{
  display: none;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  background: whitesmoke;
  border-radius: 8px;
}
#budgetApp .modal input {
  color: black;
}
#budgetApp .modal.show {
  display: block;
}
#budgetApp .modal p {
  margin-bottom: 16px;
}
#budgetApp .modal #buttons {
  display: flex;
  justify-content: space-evenly;
}
#budgetApp #logoutBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
